<h1>Rick and morty</h1>
<input type="text"  [(ngModel)]="character.name" #ctrl="ngModel" placeholder="Name">
<input type="text"  [(ngModel)]="character.status" #ctrl="ngModel" placeholder="Status">
<input type="url"  [(ngModel)]="character.image" #ctrl="ngModel" placeholder="Image">
<button (click)="saveCharacter()">create character</button>

<div *ngFor="let character of characters">
  <h2>{{character.name}}</h2>
  <img src="{{character.image}}" alt="{{character.name}}">
  <p>{{character.status}}</p>
</div>


